{
  "openapi": "3.0.1",
  "info": {
    "title": "Rock Rest API v1",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://rock.aucklandev.co.nz/"
    }
  ],
  "paths": {
    "/api/Groups": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Queryable GET endpoint",
        "operationId": "GETapi_Groups",
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.Group"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "POST endpoint. Use this to add a record",
        "operationId": "POSTapi_Groups",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rock.Model.Group"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "value"
      }
    },
    "/api/Groups/{id}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "GET endpoint to get a single record",
        "operationId": "GETapi_Groups_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the record",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rock.Model.Group"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Groups"
        ],
        "summary": "PUT endpoint. Use this to update a record",
        "operationId": "PUTapi_Groups_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rock.Model.Group"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "value"
      },
      "delete": {
        "tags": [
          "Groups"
        ],
        "summary": "DELETE endpoint. To delete the record",
        "operationId": "DELETEapi_Groups_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "Groups"
        ],
        "summary": "PATCH endpoint. Use this to update a subset of the properties of the record",
        "operationId": "PATCHapi_Groups_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The values.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "values"
      }
    },
    "/api/Groups/AttributeValue/{id}": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "POST an attribute value. Use this to set an attribute value for the record",
        "operationId": "POSTapi_Groups_AttributeValue_idattributeKeyattributeKeyattributeValueattributeValue",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "description": "The attribute key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributeValue",
            "in": "query",
            "description": "The attribute value.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Groups"
        ],
        "summary": "DELETE to delete the specified attribute value for the record",
        "operationId": "DELETEapi_Groups_AttributeValue_idattributeKeyattributeKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "description": "The attribute key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/Groups/ByLatLong": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Gets a list of groups surrounding the specified lat/long, optionally limited to the specified geofenceGroupTypeId\r\nIf geofenceGroupTypeId is specified, the list of GeoFence groups will be returned with the groups as child groups of that geofence group.",
        "operationId": "GETapi_Groups_ByLatLonggroupTypeIdgroupTypeIdlatitudelatitudelongitudelongitudesortByDistancesortByDistancemaxDistanceMilesmaxDistanceMilesgeofenceGroupTypeIdgeofenceGroupTypeId",
        "parameters": [
          {
            "name": "groupTypeId",
            "in": "query",
            "description": "The group type identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "The latitude.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "The longitude.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "sortByDistance",
            "in": "query",
            "description": "The sort by distance.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "maxDistanceMiles",
            "in": "query",
            "description": "The maximum distance miles.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "geofenceGroupTypeId",
            "in": "query",
            "description": "The geofence group type identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Groups/ByLocation": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Gets a list of groups surrounding the specified the location, optionally limited to the specified geofenceGroupTypeId\r\nIf geofenceGroupTypeId is specified, the list of GeoFence groups will be returned with the groups as child groups of that geofence group.",
        "operationId": "GETapi_Groups_ByLocationgroupTypeIdgroupTypeIdlocationIdlocationIdsortByDistancesortByDistancemaxDistanceMilesmaxDistanceMilesgeofenceGroupTypeIdgeofenceGroupTypeId",
        "parameters": [
          {
            "name": "groupTypeId",
            "in": "query",
            "description": "The group type identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "description": "The location identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sortByDistance",
            "in": "query",
            "description": "if set to true [sort by distance].",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "maxDistanceMiles",
            "in": "query",
            "description": "The maximum distance miles.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "geofenceGroupTypeId",
            "in": "query",
            "description": "The geofence group type identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Groups/DataView/{id}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Gets a list of objects represented by the selected data view",
        "operationId": "GETapi_Groups_DataView_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.Group"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Groups/FollowedItems": {
      "get": {
        "tags": [
          "Groups"
        ],
        "operationId": "GETapi_Groups_FollowedItemspersonIdpersonIdpersonAliasIdpersonAliasId",
        "parameters": [
          {
            "name": "personId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "personAliasId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.Group"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Groups/GetByAttributeValue": {
      "get": {
        "tags": [
          "Groups"
        ],
        "operationId": "GETapi_Groups_GetByAttributeValueattributeIdattributeIdattributeKeyattributeKeyvaluevaluecaseSensitivecaseSensitive",
        "parameters": [
          {
            "name": "attributeId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "caseSensitive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.Group"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Groups/GetChildren/{id}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Gets the children.",
        "operationId": "GETapi_Groups_GetChildren_idrootGroupIdrootGroupIdlimitToSecurityRoleGroupslimitToSecurityRoleGroupsincludedGroupTypeIdsincludedGroupTypeIdsexcludedGroupTypeIdsexcludedGroupTypeIdsincludeInactiveGroupsincludeInactiveGroupscountsTypecountsTypecampusIdcampusIdincludeNoCampusincludeNoCampuslimitToPubliclimitToPubliclimitToSchedulingEnabledlimitToSchedulingEnabledlimitToRSVPEnabledlimitToRSVPEnabled",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "rootGroupId",
            "in": "query",
            "description": "The root group identifier.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limitToSecurityRoleGroups",
            "in": "query",
            "description": "if set to true [limit to security role groups].",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includedGroupTypeIds",
            "in": "query",
            "description": "The included group type ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludedGroupTypeIds",
            "in": "query",
            "description": "The excluded group type ids.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeInactiveGroups",
            "in": "query",
            "description": "if set to true [include inactive groups].",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "countsType",
            "in": "query",
            "description": "Type of the counts.",
            "schema": {
              "type": "string",
              "enum": [
                "None",
                "ChildGroups",
                "GroupMembers"
              ]
            }
          },
          {
            "name": "campusId",
            "in": "query",
            "description": "if set it will filter groups based on campus",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeNoCampus",
            "in": "query",
            "description": "if campus set and set to true [include groups with no campus].",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limitToPublic",
            "in": "query",
            "description": "if set to true [limit to public groups].",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limitToSchedulingEnabled",
            "in": "query",
            "description": "if set to true only includes groups that have SchedulingEnabled (or has a child group that has SchedulingEnabled).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limitToRSVPEnabled",
            "in": "query",
            "description": "if set to true only includes groups that have RSVPEnabled (or has a child group that has RSVPEnabled).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Web.UI.Controls.TreeViewItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Groups/GetFamilies/{personId}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Gets the families sorted by the person's GroupOrder (GroupMember.GroupOrder)",
        "operationId": "GETapi_Groups_GetFamilies_personId",
        "parameters": [
          {
            "name": "personId",
            "in": "path",
            "description": "The person identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.Group"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Groups/GetFamiliesByPersonNameSearch/{searchString}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Gets the families by name search.",
        "operationId": "GETapi_Groups_GetFamiliesByPersonNameSearch_searchString",
        "parameters": [
          {
            "name": "searchString",
            "in": "path",
            "description": "String to use for search.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Rest.Controllers.GroupsController.FamilySearchResult"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Groups/GetFamiliesByPersonNameSearch/{searchString}/{maxResults}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Gets the families by name search.",
        "operationId": "GETapi_Groups_GetFamiliesByPersonNameSearch_searchString_maxResults",
        "parameters": [
          {
            "name": "searchString",
            "in": "path",
            "description": "String to use for search.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxResults",
            "in": "path",
            "description": "The maximum results.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Rest.Controllers.GroupsController.FamilySearchResult"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Groups/GetFamily/{familyId}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Gets the family.",
        "operationId": "GETapi_Groups_GetFamily_familyId",
        "parameters": [
          {
            "name": "familyId",
            "in": "path",
            "description": "The family identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rock.Rest.Controllers.GroupsController.FamilySearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Groups/GetGuestsForFamily/{groupId}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Gets the guests (known relationship of can check-in) for given family.",
        "operationId": "GETapi_Groups_GetGuestsForFamily_groupId",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "Group id of the family.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Rest.Controllers.GroupsController.GuestFamily"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Groups/GetMapInfo/{groupId}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Gets the map information.",
        "operationId": "GETapi_Groups_GetMapInfo_groupId",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The group identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.MapItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Groups/GetMapInfo/{groupId}/Children": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Gets the child map information.",
        "operationId": "GETapi_Groups_GetMapInfo_groupId_ChildrengroupTypeIdsgroupTypeIdsincludeDescendantsincludeDescendants",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The group identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "groupTypeIds",
            "in": "query",
            "description": "The group type ids (comma delimited).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeDescendants",
            "in": "query",
            "description": "if set to true [include descendants].",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.MapItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Groups/GetMapInfo/{groupId}/Families/{statusId}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Gets the families map information.",
        "operationId": "GETapi_Groups_GetMapInfo_groupId_Families_statusId",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The group identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "statusId",
            "in": "path",
            "description": "The status identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.MapItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Groups/GetMapInfo/{groupId}/Members/{groupMemberStatus}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Gets the member map information.",
        "operationId": "GETapi_Groups_GetMapInfo_groupId_Members_groupMemberStatus",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The group identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "groupMemberStatus",
            "in": "path",
            "description": "The group member status.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "Inactive",
                "Active",
                "Pending"
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.MapItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Groups/GetMapInfoWindow/{groupId}/{locationId}": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Gets the map information window.",
        "operationId": "POSTapi_Groups_GetMapInfoWindow_groupId_locationId",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The group identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "description": "The location identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The information window details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rock.Rest.Controllers.GroupsController.InfoWindowRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rock.Rest.Controllers.GroupsController.InfoWindowResult"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "infoWindowDetails"
      }
    },
    "/api/Groups/GroupTypeCheckinConfiguration/{groupTypeGuid}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Returns a simplified data structure of the check-in parameters. This is used by FrontPorch but is generalized.\r\nThe children of the provided group GUID are incuded in the results.",
        "operationId": "GETapi_Groups_GroupTypeCheckinConfiguration_groupTypeGuid",
        "parameters": [
          {
            "name": "groupTypeGuid",
            "in": "path",
            "description": "The group type unique identifier.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/Groups/InDataView/{dataViewId}/{entityId}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Determines if the entity id is in the data view",
        "operationId": "GETapi_Groups_InDataView_dataViewId_entityId",
        "parameters": [
          {
            "name": "dataViewId",
            "in": "path",
            "description": "The data view identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "entityId",
            "in": "path",
            "description": "The entity identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/Groups/LaunchWorkflow/{id}": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Launches a workflow. And optionally passes the entity with selected id as the entity for the workflow",
        "operationId": "POSTapi_Groups_LaunchWorkflow_idworkflowTypeIdworkflowTypeIdworkflowNameworkflowName",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the entity to pass to workflow, if entity cannot be loaded workflow will still be launched but without passing an entity",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workflowTypeId",
            "in": "query",
            "description": "The workflow type identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workflowName",
            "in": "query",
            "description": "Name of the workflow.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Optional list of workflow values to set.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "workflowAttributeValues"
      }
    },
    "/api/Groups/SaveAddress/{groupId}/{locationTypeId}": {
      "put": {
        "tags": [
          "Groups"
        ],
        "summary": "Saves a group address.",
        "operationId": "PUTapi_Groups_SaveAddress_groupId_locationTypeIdstreet1street1street2street2citycitystatestatepostalCodepostalCodecountrycountry",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The group identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locationTypeId",
            "in": "path",
            "description": "The location type identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "street1",
            "in": "query",
            "description": "The street1.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "street2",
            "in": "query",
            "description": "The street2.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "The city.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "The state.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postalCode",
            "in": "query",
            "description": "The postal code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "The country.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      }
    },
    "/api/Groups/SetContext/{id}": {
      "put": {
        "tags": [
          "Groups"
        ],
        "summary": "Sets the Context Cookie to the specified record. Use this to set the Campus Context, Group Context, etc",
        "operationId": "PUTapi_Groups_SetContext_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "options": {
        "tags": [
          "Groups"
        ],
        "summary": "Sets the Context Cookie to the specified record. Use this to set the Campus Context, Group Context, etc",
        "operationId": "OPTIONSapi_Groups_SetContext_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/GroupTypes": {
      "get": {
        "tags": [
          "GroupTypes"
        ],
        "summary": "Queryable GET endpoint",
        "operationId": "GETapi_GroupTypes",
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.GroupType"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "GroupTypes"
        ],
        "summary": "POST endpoint. Use this to add a record",
        "operationId": "POSTapi_GroupTypes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rock.Model.GroupType"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "value"
      }
    },
    "/api/GroupTypes/{id}": {
      "get": {
        "tags": [
          "GroupTypes"
        ],
        "summary": "GET endpoint to get a single record",
        "operationId": "GETapi_GroupTypes_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the record",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rock.Model.GroupType"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "GroupTypes"
        ],
        "summary": "PUT endpoint. Use this to update a record",
        "operationId": "PUTapi_GroupTypes_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rock.Model.GroupType"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "value"
      },
      "delete": {
        "tags": [
          "GroupTypes"
        ],
        "summary": "DELETE endpoint. To delete the record",
        "operationId": "DELETEapi_GroupTypes_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "GroupTypes"
        ],
        "summary": "PATCH endpoint. Use this to update a subset of the properties of the record",
        "operationId": "PATCHapi_GroupTypes_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The values.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "values"
      }
    },
    "/api/GroupTypes/AttributeValue/{id}": {
      "post": {
        "tags": [
          "GroupTypes"
        ],
        "summary": "POST an attribute value. Use this to set an attribute value for the record",
        "operationId": "POSTapi_GroupTypes_AttributeValue_idattributeKeyattributeKeyattributeValueattributeValue",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "description": "The attribute key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributeValue",
            "in": "query",
            "description": "The attribute value.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "GroupTypes"
        ],
        "summary": "DELETE to delete the specified attribute value for the record",
        "operationId": "DELETEapi_GroupTypes_AttributeValue_idattributeKeyattributeKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "description": "The attribute key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/GroupTypes/DataView/{id}": {
      "get": {
        "tags": [
          "GroupTypes"
        ],
        "summary": "Gets a list of objects represented by the selected data view",
        "operationId": "GETapi_GroupTypes_DataView_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.GroupType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/GroupTypes/FollowedItems": {
      "get": {
        "tags": [
          "GroupTypes"
        ],
        "operationId": "GETapi_GroupTypes_FollowedItemspersonIdpersonIdpersonAliasIdpersonAliasId",
        "parameters": [
          {
            "name": "personId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "personAliasId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.GroupType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/GroupTypes/GetByAttributeValue": {
      "get": {
        "tags": [
          "GroupTypes"
        ],
        "operationId": "GETapi_GroupTypes_GetByAttributeValueattributeIdattributeIdattributeKeyattributeKeyvaluevaluecaseSensitivecaseSensitive",
        "parameters": [
          {
            "name": "attributeId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "caseSensitive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.GroupType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/GroupTypes/InDataView/{dataViewId}/{entityId}": {
      "get": {
        "tags": [
          "GroupTypes"
        ],
        "summary": "Determines if the entity id is in the data view",
        "operationId": "GETapi_GroupTypes_InDataView_dataViewId_entityId",
        "parameters": [
          {
            "name": "dataViewId",
            "in": "path",
            "description": "The data view identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "entityId",
            "in": "path",
            "description": "The entity identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/GroupTypes/LaunchWorkflow/{id}": {
      "post": {
        "tags": [
          "GroupTypes"
        ],
        "summary": "Launches a workflow. And optionally passes the entity with selected id as the entity for the workflow",
        "operationId": "POSTapi_GroupTypes_LaunchWorkflow_idworkflowTypeIdworkflowTypeIdworkflowNameworkflowName",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the entity to pass to workflow, if entity cannot be loaded workflow will still be launched but without passing an entity",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workflowTypeId",
            "in": "query",
            "description": "The workflow type identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "workflowName",
            "in": "query",
            "description": "Name of the workflow.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Optional list of workflow values to set.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "workflowAttributeValues"
      }
    },
    "/api/GroupTypes/SetContext/{id}": {
      "put": {
        "tags": [
          "GroupTypes"
        ],
        "summary": "Sets the Context Cookie to the specified record. Use this to set the Campus Context, Group Context, etc",
        "operationId": "PUTapi_GroupTypes_SetContext_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "options": {
        "tags": [
          "GroupTypes"
        ],
        "summary": "Sets the Context Cookie to the specified record. Use this to set the Campus Context, Group Context, etc",
        "operationId": "OPTIONSapi_GroupTypes_SetContext_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/People": {
      "get": {
        "tags": [
          "People"
        ],
        "summary": "Queryable GET endpoint. Note that records that are marked as Deceased are not included",
        "operationId": "GETapi_People",
        "parameters": [
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.Person"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "People"
        ],
        "summary": "Adds a new person and puts them into a new family",
        "operationId": "POSTapi_People",
        "requestBody": {
          "description": "The person.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rock.Model.Person"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "person"
      }
    },
    "/api/People({key})": {
      "get": {
        "tags": [
          "People"
        ],
        "summary": "Queryable GET endpoint with an option to include person records that have been marked as Deceased",
        "operationId": "GETapi_PeoplekeyincludeDeceasedincludeDeceased",
        "parameters": [
          {
            "name": "includeDeceased",
            "in": "query",
            "description": "if set to true [include deceased].",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands related entities inline.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filters the results, based on a Boolean condition.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Selects which properties to include in the response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Sorts the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "description": "Returns only the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "Skips the first n results.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Rock.Model.Person"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/People/{id}": {
      "get": {
        "tags": [
          "People"
        ],
        "summary": "GET endpoint to get a single person record",
        "operationId": "GETapi_People_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The Id of the record",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "loadAttributes",
            "in": "query",
            "description": "Specify 'simple' or 'expanded' to load attributes",
            "schema": {
              "type": "string",
              "enum": [
                "simple",
                "expanded"
              ]
            }
          },
          {
            "name": "attributeKeys",
            "in": "query",
            "description": "Specify a comma-delimited list of attribute keys to limit to specific attributes, ",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rock.Model.Person"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "People"
        ],
        "summary": "PUT endpoint. Use this to update a record",
        "operationId": "PUTapi_People_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rock.Model.Person"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "value"
      },
      "delete": {
        "tags": [
          "People"
        ],
        "summary": "DELETE endpoint for a Person Record. NOTE: Person records can not be deleted using REST, so this will always return a 405",
        "operationId": "DELETEapi_People_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      },
      "patch": {
        "tags": [
          "People"
        ],
        "summary": "PATCH endpoint. Use this to update a subset of the properties of the record",
        "operationId": "PATCHapi_People_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The values.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "values"
      }
    },
    "/api/People/AddExistingPersonToFamily": {
      "post": {
        "tags": [
          "People"
        ],
        "summary": "Adds the existing person to family, optionally removing them from any other families they belong to",
        "operationId": "POSTapi_People_AddExistingPersonToFamilypersonIdpersonIdfamilyIdfamilyIdgroupRoleIdgroupRoleIdremoveFromOtherFamiliesremoveFromOtherFamilies",
        "parameters": [
          {
            "name": "personId",
            "in": "query",
            "description": "The person identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "familyId",
            "in": "query",
            "description": "The family identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "groupRoleId",
            "in": "query",
            "description": "The group role identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "removeFromOtherFamilies",
            "in": "query",
            "description": "if set to true [remove from other families].",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/People/AddNewPersonToFamily/{familyId}": {
      "post": {
        "tags": [
          "People"
        ],
        "summary": "Adds a new person and adds them to the specified family.",
        "operationId": "POSTapi_People_AddNewPersonToFamily_familyIdgroupRoleIdgroupRoleId",
        "parameters": [
          {
            "name": "familyId",
            "in": "path",
            "description": "The family identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "groupRoleId",
            "in": "query",
            "description": "The group role identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "The person.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Rock.Model.Person"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "person"
      }
    },
    "/api/People/AttributeValue/{id}": {
      "post": {
        "tags": [
          "People"
        ],
        "summary": "POST an attribute value. Use this to set an attribute value for the record",
        "operationId": "POSTapi_People_AttributeValue_idattributeKeyattributeKeyattributeValueattributeValue",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "attributeKey",
            "in": "query",
            "description": "The attribute key.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributeValue",
            "in": "query",
            "description": "The attribute value.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "People"
        ],
        "summary": "DELETE to delete the specified attribute value for the record",
        "operationId": "DELETEapi_People_AttributeValue_idattributeKeyattributeKey",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The identifier.",
            "required": true,
            "schema": {
              "type": "integer",
[...]
